<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nengguoqieguo.dao.ChineseMedicineMapper">
    <select id="FindMassage" resultType="com.nengguoqieguo.entity.ChineseMedicine">
        select * from druglist where ChineseName = #{ChineseName}
    </select>
    <select id="getMedicineLike" parameterType="String" resultType="com.nengguoqieguo.entity.ChineseMedicine">
        select * from druglist where ChineseName like "%"#{NameLike}"%";
    </select>
    <select id="getMedicineClass" resultType="com.nengguoqieguo.entity.ChineseMedicine">
        select * from druglist where Medicinalclass = #{Class}
    </select>
    <select id="findAllDate" resultType="com.nengguoqieguo.entity.ChineseMedicine">
        select * from druglist
    </select>
    <select id="queryMedicineByArray" resultType="com.nengguoqieguo.entity.ChineseMedicine">
        select * from druglist
    </select>
    <select id="findImageByChineseName" parameterType="String" resultType="String">
        select Image from druglist where ChineseName = #{ChineseName}
    </select>
    <select id="findAllChineseMedicine" parameterType="Integer" resultType="com.nengguoqieguo.entity.ChineseMedicine">
        select * from druglist limit #{start},2
    </select>
    <select id="findCount" resultType="Integer">
        select count(*) from druglist
    </select>
    <select id="findSearch" resultType="com.nengguoqieguo.entity.ChineseMedicine">
        select * from druglist where ChineseName = #{search} limit #{start},2
    </select>
    <select id="findSearchCount" parameterType="String" resultType="Integer">
        select count(*) from druglist where ChineseName = #{search}
    </select>
</mapper>