<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nengguoqieguo.dao.SeasonMapper">
    <select id="findAllSeason" resultType="com.nengguoqieguo.entity.Season">
        select * from season
    </select>
    <select id="findSeasonBySeason" parameterType="String" resultType="com.nengguoqieguo.entity.Season">
        select * from season where season = #{season}
    </select>
</mapper>